input[type=date] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
    z-index: 1;
}

.main {
    background: url(../images/registration.png),
    rgba(0, 17, 36, 1);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 20% 130%;
}

.main__login {
    right: 15%;
    width: 35%;
}

.main__login__form-header {
    font-size: 3.5rem;
}

.main__login__form__btn {
    padding-bottom: 50px;
}